<a href="https://colab.research.google.com/github/Tiepbn/Data-Aaalytics-with-python/blob/main/BTw4_phan_tich_diem_thi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Gọi ra những thư viện cần thiết
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_excel("/content/Week4-data_06.xlsx")
print(dataset)
print(dataset.head())

                     Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0           QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1       PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2         TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3      NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4          TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6
..                   ...    ...                        ...            ...
636        TRẦN NHẬT ANH  60032       THCS Nguyễn Văn Tiết              6
637  DOÃN THỊ PHƯƠNG ANH  60017            THCS Bình Chiểu              6
638       CÙ THỊ GIA HÂN  60151     THCS Nguyễn Trung Trực              6
639      NGUYỄN TƯỜNG VY  60622        THCS Trịnh Hoài Đức              6
640         LƯU QUANG ĐÔ  60108        THCS Trịnh Hoài Đức              6

     Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0              2.0        3.0  9.00   8.9  8.75  29.65         1
1              7.0        2.0  8.75   9.6  9.25  29.60         2
2              7.0        2.0  8.25   9.6  9.25  29.10         3
3              7.0        NaN  8.75  10.0  9.25  28.00         4
4              2.0        2.0  8.25   9.7  8.00  27.95         5
..             ...        ...   ...   ...   ...    ...       ...
636            8.0        NaN  6.75   3.9  2.75  13.40       637
637           30.0        NaN  6.25   3.6  3.50  13.35       638
638            8.0        NaN  6.00   3.5  3.25  12.75       639
639            8.0        NaN  6.25   3.2  3.00  12.45       640
640           30.0        NaN  5.50   2.4  3.75  11.65       641

[641 rows x 11 columns]
                 Tên  Mã số               Trường cấp 2  Nguyện vọng 1  \
0       QUÁCH KIM HÀ  60132             THCS Phú Cường              6
1   PHẠM TRÚC PHƯƠNG  60421        THCS Trần Đại Nghĩa              6
2     TRẦN KHẢ DOANH  60075    THCS-THPT Nguyễn Khuyến              6
3  NGUYỄN MAI PHƯƠNG  60417        THCS Trần Đại Nghĩa              6
4      TRẦN MINH THY  60558  THCS Nguyễn Thị Minh Khai              6

   Nguyện vọng 2  Điểm cộng   Văn   Anh  Toán   Tổng  Xếp hạng
0            2.0        3.0  9.00   8.9  8.75  29.65         1
1            7.0        2.0  8.75   9.6  9.25  29.60         2
2            7.0        2.0  8.25   9.6  9.25  29.10         3
3            7.0        NaN  8.75  10.0  9.25  28.00         4
4            2.0        2.0  8.25   9.7  8.00  27.95         5

In [4]:
data = dataset.to_numpy()
print(data.shape)

(641, 11)

In [5]:
print(data[0])

['QUÁCH KIM HÀ' 60132 'THCS Phú Cường' 6 2.0 3.0 9.0 8.9 8.75 29.65 1]

In [7]:
print(data.dtype)

object

In [8]:
print(data[0].dtype)

object

In [9]:
np.nan_to_num([0.3, np.nan, 2.4])

array([0.3, 0. , 2.4])

In [10]:
data[:, 5] = np.nan_to_num(data[:, 5].astype(float))
print(data[:, 5])
print(data[-1])

[3.0 2.0 2.0 0.0 2.0 0.0 2.0 0.0 0.0 2.0 2.0 0.0 1.0 0.0 0.0 2.0 2.0 1.0
 0.0 1.0 0.0 0.0 0.0 0.0 2.0 2.0 2.0 0.0 2.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 2.0 0.0 2.0 0.0 2.0 0.0 2.5 0.0 0.0 0.0 2.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 2.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 2.0 1.0 0.0
 1.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0
 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 2.0 0.0
 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 1.0 0.0 2.0 0.0 0.0 0.0 2.0 2.0 1.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 1.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0
 2.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 1.0 2.0 0.0 0.0 0.0 0.0 2.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 1.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 2.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 2.0 0.0 0.0 0.0
 1.5 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 2.0 0.0 0.0
 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0
 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0
 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0]
['LƯU QUANG ĐÔ' 60108 'THCS Trịnh Hoài Đức' 6 30.0 0.0 5.5 2.4 3.75 11.65
 641]

In [11]:
## Đưa ra thông tin của bạn với mã số: 60457
## Đưa ra thông tin của bạn với tên là: Nguyễn Đình Nhân
## Đưa ra thông tin của các bạn từ mã số: 60004 đến  60200 (Bạn nào không có thì không cần đưa ra)


## Tính điểm thi trung bình cho từng bạn sinh viên
## Tính điểm thi trung bình theo từng môn cho toàn bộ sinh viên
## Đưa ra điểm thi trung bình cao nhất và thấp nhất cho toàn bộ 3 môn.
## Xếp danh sách dựa vào điểm trung bình của môn Toán + Anh, tìm bạn có vị trí 100


## Giả sử 1 trường lấy toàn bộ 300 sinh viên, dựa theo
## a) Điểm môn Toán từ cao xuống thấp
## b) Điểm tổng 3 môn và điểm cộng từ cao xuống thấp
## c) Điểm trung bình 3 môn từ cao xuống thấp
## Đưa ra danh sách những bạn sinh viên được chọn vào trường đó.


## So sánh 2 bạn sinh viên mã số: 60575 và 60602 dựa trên tổng điểm 3 môn (không tính điểm cộng)